* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
*{
  box-sizing:border-box;
}
body{
  margin:0;
}
*{
  box-sizing:border-box;
}
body{
  margin:0;
}
*{
  box-sizing:border-box;
}
body{
  margin:0;
}
*{
  box-sizing:border-box;
}
body{
  margin:0;
}
*{
  box-sizing:border-box;
}
body{
  margin:0;
}
*{
  box-sizing:border-box;
}
body{
  margin:0;
}
*{
  box-sizing:border-box;
}
body{
  margin:0;
}
*{
  box-sizing:border-box;
}
body{
  margin:0;
}
*{
  box-sizing:border-box;
}
body{
  margin:0;
}
*{
  box-sizing:border-box;
}
body{
  margin:0;
}
*{
  box-sizing:border-box;
}
body{
  margin:0;
}
*{
  box-sizing:border-box;
}
body{
  margin:0;
}
*{
  box-sizing:border-box;
}
body{
  margin:0;
}
*{
  box-sizing:border-box;
}
body{
  margin:0;
}
*{
  box-sizing:border-box;
}
body{
  margin:0;
}
*{
  box-sizing:border-box;
}
body{
  margin:0;
}
*{
  box-sizing:border-box;
}
body{
  margin:0;
}
*{
  box-sizing:border-box;
}
body{
  margin:0;
}
#itpd2h{
  padding:10px;
}
#iulnjh{
  box-sizing:inherit;
  margin-bottom:1em;
  padding:0px;
  color:rgb(51, 51, 51);
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size:14px;
  letter-spacing:0.14px;
  outline:none !important;
}
#ig0j01{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#iniadh{
  box-sizing:inherit;
  font-variant-numeric:inherit;
  font-variant-east-asian:inherit;
  font-weight:bold;
  font-stretch:inherit;
  font-size:1.44em;
  line-height:1.2;
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  margin-bottom:0.5em;
  color:rgb(17, 17, 17);
  text-rendering:optimizelegibility;
  padding:0px;
  position:relative;
  letter-spacing:0.14px;
  outline:none !important;
}
#iwp0q9{
  box-sizing:inherit;
  font-size:0.875rem;
  font-weight:500;
  line-height:1.5rem;
  letter-spacing:0.01em;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#ix5a7k{
  box-sizing:inherit;
  margin-bottom:1em;
  padding:0px;
  color:rgb(51, 51, 51);
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size:14px;
  letter-spacing:0.14px;
  outline:none !important;
}
#iti1fb{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#ikqyhw{
  box-sizing:inherit;
  margin-bottom:1em;
  padding:0px;
  color:rgb(51, 51, 51);
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size:14px;
  letter-spacing:0.14px;
  outline:none !important;
}
#i78o15{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#ihskbo{
  box-sizing:inherit;
  margin-bottom:1em;
  padding:0px;
  color:rgb(51, 51, 51);
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size:14px;
  letter-spacing:0.14px;
  outline:none !important;
}
#id6f0i{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#ih5rsc{
  box-sizing:inherit;
  margin-bottom:1em;
  padding:0px;
  color:rgb(51, 51, 51);
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size:14px;
  letter-spacing:0.14px;
  outline:none !important;
}
#il5kld{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#iv3fdh{
  box-sizing:inherit;
  margin-bottom:1em;
  padding:0px;
  color:rgb(51, 51, 51);
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size:14px;
  letter-spacing:0.14px;
  outline:none !important;
}
#i95u57{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#ifcwxm{
  box-sizing:inherit;
  margin-bottom:1em;
  padding:0px;
  color:rgb(51, 51, 51);
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size:14px;
  letter-spacing:0.14px;
  outline:none !important;
}
#iu3oho{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#ihjf8w{
  box-sizing:inherit;
  margin-bottom:1em;
  padding:0px;
  color:rgb(51, 51, 51);
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size:14px;
  letter-spacing:0.14px;
  outline:none !important;
}
#ioecry{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#ild80v{
  box-sizing:inherit;
  margin-bottom:1em;
  padding:0px;
  color:rgb(51, 51, 51);
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size:14px;
  letter-spacing:0.14px;
  outline:none !important;
}
#iupj1f{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#i6ausm{
  box-sizing:inherit;
  margin-bottom:1em;
  padding:0px;
  color:rgb(51, 51, 51);
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size:14px;
  letter-spacing:0.14px;
  outline:none !important;
}
#ifivdb{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#ir24hx{
  box-sizing:inherit;
  outline:none !important;
}
#ipxq5q{
  box-sizing:inherit;
  color:rgb(51, 151, 255);
  text-decoration:none;
  transition:color 0.3s ease 0s;
  outline:none !important;
}
#ixf2zk{
  box-sizing:inherit;
  color:rgb(51, 151, 255);
  text-decoration:none;
  transition:color 0.3s ease 0s;
  outline:none !important;
}
#immdaj{
  box-sizing:inherit;
  outline:none !important;
}
#igwm5p{
  box-sizing:inherit;
  margin-bottom:1em;
  padding:0px;
  color:rgb(51, 51, 51);
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size:14px;
  letter-spacing:0.14px;
  outline:none !important;
}
#iebdmv{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#icrzlk{
  box-sizing:inherit;
  margin-bottom:1em;
  padding:0px;
  color:rgb(51, 51, 51);
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size:14px;
  letter-spacing:0.14px;
  outline:none !important;
}
#irfr04{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#ilpe82{
  box-sizing:inherit;
  margin-bottom:1em;
  padding:0px;
  color:rgb(51, 51, 51);
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size:14px;
  letter-spacing:0.14px;
  outline:none !important;
}
#iy58ir{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#ijmzkb{
  box-sizing:inherit;
  color:rgb(42, 100, 150);
  text-decoration:none;
  transition:color 0.3s ease 0s;
  outline:none !important;
  background-color:transparent;
}
#incobk{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#i889gc{
  box-sizing:inherit;
  color:rgb(42, 100, 150);
  text-decoration:none;
  transition:color 0.3s ease 0s;
  outline:none !important;
  background-color:transparent;
}
#iy5x3n{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#iw4bkf{
  box-sizing:inherit;
  color:rgb(42, 100, 150);
  text-decoration:none;
  transition:color 0.3s ease 0s;
  outline:none !important;
  background-color:transparent;
}
#i9gvbm{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#iayzfa{
  box-sizing:inherit;
  margin-bottom:1em;
  padding:0px;
  color:rgb(51, 51, 51);
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size:14px;
  letter-spacing:0.14px;
  outline:none !important;
}
#ibfy3e{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#iu4iy2{
  box-sizing:inherit;
  margin-bottom:1em;
  padding:0px;
  color:rgb(51, 51, 51);
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size:14px;
  letter-spacing:0.14px;
  outline:none !important;
}
#i8hy2i{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#ixp2dc{
  box-sizing:inherit;
  margin-bottom:1em;
  padding:0px;
  color:rgb(51, 51, 51);
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size:14px;
  letter-spacing:0.14px;
  outline:none !important;
}
#i30onq{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#i6u6mr{
  box-sizing:inherit;
  margin-bottom:1em;
  padding:0px;
  color:rgb(51, 51, 51);
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size:14px;
  letter-spacing:0.14px;
  outline:none !important;
}
#ionfnh{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#iqm2n4{
  box-sizing:inherit;
  font-variant-numeric:inherit;
  font-variant-east-asian:inherit;
  font-weight:bold;
  font-stretch:inherit;
  font-size:1.44em;
  line-height:1.2;
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  margin-bottom:0.5em;
  color:rgb(17, 17, 17);
  text-rendering:optimizelegibility;
  padding:0px;
  position:relative;
  letter-spacing:0.14px;
  outline:none !important;
}
#ivjak9{
  box-sizing:inherit;
  font-size:0.875rem;
  font-weight:500;
  line-height:1.5rem;
  letter-spacing:0.01em;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#ikw59i{
  box-sizing:inherit;
  margin-bottom:1em;
  padding:0px;
  color:rgb(51, 51, 51);
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size:14px;
  letter-spacing:0.14px;
  outline:none !important;
}
#if8z7g{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#iqct5o{
  box-sizing:inherit;
  margin-bottom:1em;
  padding:0px;
  color:rgb(51, 51, 51);
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size:14px;
  letter-spacing:0.14px;
  outline:none !important;
}
#ircngy{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#ikewfa{
  box-sizing:inherit;
  margin-bottom:1em;
  padding:0px;
  color:rgb(51, 51, 51);
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size:14px;
  letter-spacing:0.14px;
  outline:none !important;
}
#i8yhh8{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#ih2uxl{
  box-sizing:inherit;
  margin-bottom:1em;
  padding:0px;
  color:rgb(51, 51, 51);
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size:14px;
  letter-spacing:0.14px;
  outline:none !important;
}
#inf4fq{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#i84ra9{
  box-sizing:inherit;
  margin-bottom:1em;
  padding:0px;
  color:rgb(51, 51, 51);
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size:14px;
  letter-spacing:0.14px;
  outline:none !important;
}
#it7do3{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#im3m16{
  box-sizing:inherit;
  font-variant-numeric:inherit;
  font-variant-east-asian:inherit;
  font-weight:bold;
  font-stretch:inherit;
  font-size:1.44em;
  line-height:1.2;
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  margin-bottom:0.5em;
  color:rgb(17, 17, 17);
  text-rendering:optimizelegibility;
  padding:0px;
  position:relative;
  letter-spacing:0.14px;
  outline:none !important;
}
#i7tw2o{
  box-sizing:inherit;
  font-size:0.875rem;
  font-weight:500;
  line-height:1.5rem;
  letter-spacing:0.01em;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#imljz5{
  box-sizing:inherit;
  margin-bottom:1em;
  padding:0px;
  color:rgb(51, 51, 51);
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size:14px;
  letter-spacing:0.14px;
  outline:none !important;
}
#idvnqh{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#iggkvd{
  box-sizing:inherit;
  margin-bottom:1em;
  padding:0px;
  color:rgb(51, 51, 51);
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size:14px;
  letter-spacing:0.14px;
  outline:none !important;
}
#ivdock{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#ielywk{
  box-sizing:inherit;
  margin-bottom:1em;
  padding:0px;
  color:rgb(51, 51, 51);
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size:14px;
  letter-spacing:0.14px;
  outline:none !important;
}
#invkon{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#i01x4j{
  box-sizing:inherit;
  margin-bottom:1em;
  padding:0px;
  color:rgb(51, 51, 51);
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size:14px;
  letter-spacing:0.14px;
  outline:none !important;
}
#ia2stg{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#im5gfk{
  box-sizing:inherit;
  margin-bottom:1em;
  padding:0px;
  color:rgb(51, 51, 51);
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size:14px;
  letter-spacing:0.14px;
  outline:none !important;
}
#io0d53{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#i7t5mu{
  box-sizing:inherit;
  font-variant-numeric:inherit;
  font-variant-east-asian:inherit;
  font-weight:bold;
  font-stretch:inherit;
  font-size:1.44em;
  line-height:1.2;
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  margin-bottom:0.5em;
  color:rgb(17, 17, 17);
  text-rendering:optimizelegibility;
  padding:0px;
  position:relative;
  letter-spacing:0.14px;
  outline:none !important;
}
#ieewbk{
  box-sizing:inherit;
  font-size:0.875rem;
  font-weight:500;
  line-height:1.5rem;
  letter-spacing:0.01em;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#ibdvtb{
  box-sizing:inherit;
  margin-bottom:1em;
  padding:0px;
  color:rgb(51, 51, 51);
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size:14px;
  letter-spacing:0.14px;
  outline:none !important;
}
#i56rem{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#ip4ju6{
  box-sizing:inherit;
  margin-bottom:1em;
  padding:0px;
  color:rgb(51, 51, 51);
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size:14px;
  letter-spacing:0.14px;
  outline:none !important;
}
#ir038i{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#is0ky7{
  box-sizing:inherit;
  font-variant-numeric:inherit;
  font-variant-east-asian:inherit;
  font-weight:bold;
  font-stretch:inherit;
  font-size:1.44em;
  line-height:1.2;
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  margin-bottom:0.5em;
  color:rgb(17, 17, 17);
  text-rendering:optimizelegibility;
  padding:0px;
  position:relative;
  letter-spacing:0.14px;
  outline:none !important;
}
#iow54w{
  box-sizing:inherit;
  font-size:0.875rem;
  font-weight:500;
  line-height:1.5rem;
  letter-spacing:0.01em;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#izryyu{
  box-sizing:inherit;
  margin-bottom:1em;
  padding:0px;
  color:rgb(51, 51, 51);
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size:14px;
  letter-spacing:0.14px;
  outline:none !important;
}
#imp7vp{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#iyyyjs{
  box-sizing:inherit;
  font-variant-numeric:inherit;
  font-variant-east-asian:inherit;
  font-weight:bold;
  font-stretch:inherit;
  font-size:1.44em;
  line-height:1.2;
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  margin-bottom:0.5em;
  color:rgb(17, 17, 17);
  text-rendering:optimizelegibility;
  padding:0px;
  position:relative;
  letter-spacing:0.14px;
  outline:none !important;
}
#iqyu0m{
  box-sizing:inherit;
  font-size:0.875rem;
  font-weight:500;
  line-height:1.5rem;
  letter-spacing:0.01em;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#i2rdd2{
  box-sizing:inherit;
  margin-bottom:1em;
  padding:0px;
  color:rgb(51, 51, 51);
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size:14px;
  letter-spacing:0.14px;
  outline:none !important;
}
#i9d2o3{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#ii5t0y{
  box-sizing:inherit;
  margin-bottom:1em;
  padding:0px;
  color:rgb(51, 51, 51);
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size:14px;
  letter-spacing:0.14px;
  outline:none !important;
}
#ijprat{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#izfisc{
  box-sizing:inherit;
  font-variant-numeric:inherit;
  font-variant-east-asian:inherit;
  font-weight:bold;
  font-stretch:inherit;
  font-size:1.44em;
  line-height:1.2;
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  margin-bottom:0.5em;
  color:rgb(17, 17, 17);
  text-rendering:optimizelegibility;
  padding:0px;
  position:relative;
  letter-spacing:0.14px;
  outline:none !important;
}
#i9a2to{
  box-sizing:inherit;
  font-size:0.875rem;
  font-weight:500;
  line-height:1.5rem;
  letter-spacing:0.01em;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#idjeqs{
  box-sizing:inherit;
  margin-bottom:1em;
  padding:0px;
  color:rgb(51, 51, 51);
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size:14px;
  letter-spacing:0.14px;
  outline:none !important;
}
#izd0ey{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#ioosiy{
  box-sizing:inherit;
  margin-bottom:1em;
  padding:0px;
  color:rgb(51, 51, 51);
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size:14px;
  letter-spacing:0.14px;
  outline:none !important;
}
#izsouh{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#ix0139{
  box-sizing:inherit;
  color:rgb(51, 151, 255);
  text-decoration:none;
  transition:color 0.3s ease 0s;
  outline:none !important;
}
#id660q{
  box-sizing:inherit;
  color:rgb(51, 151, 255);
  text-decoration:none;
  transition:color 0.3s ease 0s;
  outline:none !important;
}
#ieuhyf{
  box-sizing:inherit;
  outline:none !important;
}
#iv5773{
  box-sizing:inherit;
  outline:none !important;
}
#ih4sd3{
  box-sizing:inherit;
  font-variant-numeric:inherit;
  font-variant-east-asian:inherit;
  font-weight:bold;
  font-stretch:inherit;
  font-size:1.44em;
  line-height:1.2;
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  margin-bottom:0.5em;
  color:rgb(17, 17, 17);
  text-rendering:optimizelegibility;
  padding:0px;
  position:relative;
  letter-spacing:0.14px;
  outline:none !important;
}
#inh8gb{
  box-sizing:inherit;
  font-size:0.875rem;
  font-weight:500;
  line-height:1.5rem;
  letter-spacing:0.01em;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
#iee07q{
  box-sizing:inherit;
  margin-bottom:1em;
  padding:0px;
  color:rgb(51, 51, 51);
  font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size:14px;
  letter-spacing:0.14px;
  outline:none !important;
}
#ivxcn7{
  box-sizing:inherit;
  outline:none !important;
  background-color:transparent;
  color:rgb(0, 0, 10);
}
.shadow.rounded.w-full.py-4.my-2.text-2lg.text-white.bg-primary{
  font-size:30px;
  background-color:#008ccf;
  border:4px solid #184994;
  width:750px;
}
@media (max-width: 480px){
  .shadow.rounded.w-full.py-4.my-2.text-2lg.text-white.bg-primary{
    width:auto;
  }
  .cursor-pointer{
    width:auto;
  }
}
